body {
  background-color: #f5f5f5;
  text-decoration-color: #3f2860;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

header{
  padding: 20px;
}

main{
  padding: 10px 20px;
}

.container {
  margin: 30px auto;
  width: 800;
  text-align: center;
  background-size: 150px;
}

.jumbotron {
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

main {
  display: block;
  line-height: 50px;
}

.form-control {
  width: 75%;
}

.application-label {
  line-height: 5;
}

.row {
  height: 100%;
  width: 100%;
}

.col-9 {
  padding-top: 25px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
    no-repeat;
  width: 10px;
  height: 20px;
  border-width: thin;
}

#numdays2 {
  border: 0;
  background: transparent;
  box-shadow: none;
}

#totalcost {
  border: 0;
  background: transparent;
  box-shadow: none;
}

#Name {
  border: 0;
  background: transparent;
  box-shadow: none;
}

#IC {
  border: 0;
  background: transparent;
  box-shadow: none;
}

#Faculty {
  border: 0;
  background: transparent;
  box-shadow: none;
}

#Department {
  border: 0;
  background: transparent;
  box-shadow: none;
}
