.application #header{
  padding: 20px;
}

.application .container-fluid {
  text-align: center;
  padding:0;
}

.application .jumbotron {
  border-radius: 1rem;
}

.application .form-control {
  width: 75%;
  margin-bottom: 0.5rem;
}

.application .application-label {
  line-height: 5;
}

.application .row {
  height: 100%;
  width: 100%;
  align-items: center;
}

.application input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
    no-repeat;
  width: 10px;
  height: 20px;
  border-width: thin;
}

.application #numdays2 {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.application #totalcost {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.application #Name {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.application #IC {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.application #Faculty {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.application #Phonenumber {
  border: 0;
  background: transparent;
  box-shadow: none;
}
