body {
  background-color: #f5f5f5;
}
.navbar {
  padding: 40px 128px 12px;
  -webkit-box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.4);
}

.nav-link {
  margin: 0 1rem;
}

.navbar-nav {
  align-items: center;
}

#header {
  margin: auto;
}
