head, body {
  font-family: 'Manrope', sans-serif;
}

.food-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  width: 1400px;
}

.foodimage {
  border-radius: 8px;
}

#food-img {
  float: left;
  margin: 20px;
  width: 120px;
  border-radius: 10px;
  height: 120px;
  transition: 0.5s;
}

#food-img:hover {
  width: 250px;
  height: 250px;
}

.food-content {
  display: grid;
  grid-template-columns: auto auto;
  margin: 25px 50px 25px 25px;
  font-size: 19px;
}

.namendes {
  display: block;
  text-align: left;
  float: left;
}

#food-name {
  color: rgb(69, 74, 102);
}

#food-description {
  color: rgb(70, 78, 128);
}

#food-price {
  color: rgb(102, 108, 141);
}

.pricenorder {
  display: block;
  text-align: right;
  float: right;
}

.add-btn, .order-btn, .preorder-btn {
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 15px;
  color: rgb(53, 53, 53);
  background-color: white;
  border-radius: 5px;
  transition: 0.01s;
  cursor: pointer;
  letter-spacing: 1px;
}

.cart-btn {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.add-btn:hover {
  color: white;
  background: #aaa6df;
}

.order-btn:hover {
  color: white;
  background: #aaa6df;
}

.preorder-btn:hover {
  color: white;
  background: #aaa6df;
}

/* .order:active {
  background-color: #363636;
  box-shadow: 1px 1px 4px #363636;
  transform: translate(2px, 2px);
} */

.sticky-cart {
  width: 45px;
  height: 45px;
  float: right;
  /* h-offset v-offset blur spread color */
  box-shadow: -1px 2px 2px 1px rgb(134, 141, 139);
  border-radius: 10px 0px 0px 10px;
  padding: 5px;
  background: white;
  position: -webkit-sticky;
  position: sticky;
  bottom: 28rem;
  align-self: flex-end;
  transition: 0.3s;
}

#cart-icon {
  margin: 10px 0px 5px 4px;
  display: inline-block;
  justify-content: space-between;
}

.sticky-cart:hover {
  background: rgb(233, 233, 233);
  color: black;
  cursor: pointer;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 4;
  float: right;
  /* h-offset v-offset blur spread color */
  box-shadow: -1px 2px 2px 1px rgb(134, 141, 139);
  border-radius: 10px 0px 0px 10px;
  background: rgb(255, 255, 255, 0.6);
  opacity: 1;
  visibility: hidden;
  padding: 20px 15px 15px 15px;
}

.cart:hover {
  background: white;
}

.cart-title {
  color: rgb(38, 43, 73);
}

.fa .fa-shopping-cart {
  color: rgb(38, 43, 73);
}

.store-remove-icon {
  float: right;
  text-align: right;
}

.store-remove-icon:hover {
  color: red;
  font-size: 20px;
  transition: 0.01s ease-out;
}

.cart-item {
  padding: 10px 0px;
}

.item-text {
  display: grid;
  grid-template-columns: auto 60px 40px;
}

.cart-total {
  border-top: 2px dotted rgb(131, 129, 127);
  border-bottom: 2px dotted rgb(131, 129, 127);
  font-weight: bold;
  color: rgb(141, 136, 190);
  text-align: right;
  padding: 10px;
}

.item-price {
  text-align: right;
  float: right;
}

.n-items {
  color: rgb(226, 153, 153);
}


/*myorder.html*/

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  padding: 0 16px;
}

.receipt-container {
  text-align: center;
}

.receipt-card {
  text-align: left;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  margin: 20px 30px 20px 30px;
  background-color: #f8f8f8;
  padding: 15px 20px 15px 20px;
  letter-spacing: 1px;
  width: 90%;
}

.receipt-card:hover {
  width: 350px;
  cursor: pointer;
}

.receipt-card a {
  color: rgb(129, 132, 141);
}

.receipt-card a:hover {
  opacity: 0.8;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
  .col-25 {
    margin-bottom: 20px;
  }
}

/*myorder.html end*/

/*mypreoreder.html*/

.reorder-icon {
  padding: 2px;
  float: right;
}

.reorder-icon:hover {
  color: rgb(69, 69, 99);
  font-size: 24px;
  transition: 0.2s ease-out;
}

.put-date {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  float: left;
  padding-bottom: 24px;
}

/*my preorder end*/