* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

.container {
  margin: auto;
  width: 800;
  text-align: center;
  background-size: 150px;
  padding-top: 32px;
  padding-bottom: 30px;
  border-radius: 10px 10px 0 0;
}

nav {
  background-image: linear-gradient(
    -225deg,
    #ff057c 0,
    #8d0b93 50%,
    #321575 100%
  ) !important;
  -webkit-box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 50px -10px rgba(0, 0, 0, 0.4);
}

#report-form .container {
  border-radius: 0 0 10px 10px;
}

p.submission {
  color: #f6f6f6;
  font-family: roboto 300, 400;
  /* font-weight: bold; */
  font-size: 20px;
}

p.small {
  line-height: 1;
}

label {
  line-height: 5;
}

.form-group {
  vertical-align: middle;
}

.col-9 {
  max-width: 75%;
  padding-top: 25px;
  text-align: left;
}

.row {
  padding: 10px 40px 10px 20px;
}
.container-ex1 {
  width: 800px;
  margin: auto;
}

.container-ex2 {
  width: 800px;
  margin: auto;
}

.container-ex3 {
  width: 800px;
}

element.style {
  margin-bottom: 0;
  text-align: center;
  background-size: 150px;
  padding-top: 32px;
  padding-bottom: 30px;
}

h3 {
  padding-top: 50px;
  padding-left: 2em;
}

.jumbotron {
  padding: 0.5em 0.6em;
}

main {
  background-color: #f5f5f5;
  display: block;
  line-height: 50px;
  padding: 30px;
}

.fade-background {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.shadowBox {
  background: white;
  position: absolute;
  width: 80%;
  max-width: 1228px;
  height: 70%;
  max-height: 540px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.8);
}

.container-fluid {
  padding: 0px;
}

.row {
  height: 100%;
  width: 100%;
}

.dropdown .activated {
  font-size: 10px !important;
  top: 8px !important;
  color: rgb(117, 116, 116) !important;
}

.dropdown-label {
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  top: 10%;
  left: 5%;
  transition: font-size 0.25s, top 0.25s, color 0.25s;
  pointer-events: none;
}

.dropdown {
  width: 100%;
  height: 40px;
  display: inline-block;
  background: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid rgb(194, 193, 193);
  position: relative;
  color: rgb(133, 127, 127);
  text-align: left;
  transition: all 0.5s ease;
  outline: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  cursor: pointer;
}

.dropdown .select {
  padding: 20px 15px 12px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  top: 0;
}

.dropdown.active:hover,
.dropdown.active {
  outline: none;
  color: rgb(100, 98, 98);
}

.dropdown-menu.slideToggle {
  max-height: 180px;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgb(0, 0, 0);
  transition: margin-top 0.7s, max-height 0.7s 0.2s;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #222;
  width: 100%;
  left: 0;
  margin-top: -9px;
  border-radius: 7px 7px 7px 7px;
  overflow: hidden;
  overflow-y: auto;
  height: auto;
  max-height: 0;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  background-image: #4d4c4c;
  color: #f6f6f6;
  font-weight: lighter;
  border: none;
  transition: margin-top 1s 0.4s, max-height 0.7s;
}

.leFadeIn span {
  animation-name: leFadeIn;
}
@keyframes leFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  0% {
    background-color: rgb(250, 248, 248);
  }
  50% {
    background-color: rgb(211, 104, 97);
  }
}

.btn-group {
  background-color: DodgerBlue;
  border: none; /* Remove borders */
  color: white; /* White text */
  /* padding: 12px 16px; Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 7px 7px 7px 7px;
  margin: 4px;
}

.btn:hover {
  background-color: RoyalBlue;
}

h4 {
  color: #f6f6f6;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.dropdown .dropdown-menu::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid rgba(90, 88, 88, 0.158);
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}
.dropdown .dropdown-menu li:hover {
  background-image: linear-gradient(-225deg, #827e8a 0%, #827e8a 70%);
}
.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  /* transition: fade-in; */
}

/* Modal Content/Box */
.w3-modal-content {
  background-color: #333435;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: rgb(134, 131, 131);
  padding: 2px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

h5 {
  float: left;
  font-family: manrope;
  font-weight: bold;
  color: #f6f6f6;
}

.clase {
  color: rgb(134, 131, 131);
  padding: 2px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.clase:hover,
.clase:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

table {
  background-color: #f6f6f6;
  border: 1px solid;
  border-radius: 4px 4px 4px 4px;
}

tr,
th {
  font-family: sans-serif;
  color: #141313;
  font-weight: bold;
}

.w2-modal-content {
  background-color: #333435;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

caption {
  font-family: manrope;
  font-weight: bolder;
  font-size: 10px;
}
