body {
  font-family: Arial;
}

.tab {
  overflow: hidden;
  border: none;
  padding: 0 15px;
}

.tab button {
  float: left;
  outline: none;
  cursor: pointer;
  padding: 0.1rem 0.5rem;
  transition: 0.3s;
  border-radius: 0.4rem;
  font-size: 0.9rem !important;
  font-family: Manrope, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  margin: 1rem 0.5rem 1rem 0;
  border: none;
}

.tab button:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.tab button.active {
  background-color: rgb(177, 162, 162);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.tabcontent {
  display: none;
  border: none;
  border-top: none;
  color: #f6f6f6;
}

.container-fluid {
  height: 1000px;
  box-shadow: 5px 5px 8px #888888;
  background-color: white;
  border-radius: 1rem;
  padding: 0 !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th {
  text-transform: uppercase;
  font-family: Manrope, sans-serif;
  font-size: small;
  color: black;
}

td {
  font-family: Manrope, sans-serif;
  color: rgb(121, 117, 117);
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 1px;
}

th,
td {
  padding: 1rem 1.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.accepted {
  color: #388e3c;
  background-color: #81c784;
}

.pending {
  color:#f57c00;
  background-color: #ffb74d;
}

.inprogress {
  color:#1976d2;
  background-color: #64b5f6;
}

.rejected {
  color: #e33371;
  background-color:#9a0036;
}

.reportButton {
  position: absolute;
  top: 100%;
  left: 88%;
  size: 10px;
  background-color: rgb(86, 137, 214);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px 7px 7px 7px;
  margin: 4px;
  padding: 10px;
}

.reportButton:hover {
  background-color: rgba(170, 174, 184, 0.959);
}

.izzatiIshSapaSuruhLupa {
  padding: 8px;
  color: white;
  border-radius: 10px;
  background: rgb(38, 92, 255);
  position: absolute !important;
  display: block;
  top: 92%;
  left: 90%;
  transition: box-shadow 0.3 ease-in;
}

.izzatiIshSapaSuruhLupa:hover {
  text-decoration: none;
  outline: none;
  color: white;
  /* background: rgb(20, 65, 199); */
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
